@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
    --primary: var(--color-amber-700);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-zinc-200);
    --secondary-foreground: var(--color-neutral-950);
    --tertiary: var(--color-blue-500);
    --tertiary-foreground: var(--color-blue-50);
    --success: var(--color-green-700);
    --success-foreground: var(--color-green-50);
    --warning: var(--color-yellow-400);
    --warning-foreground: var(--color-yellow-950);
    --warning-alt: var(--color-yellow-700);
    --danger: var(--color-red-700);
    --danger-foreground: var(--color-red-50);

    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --searchbox: #f7f7f8;
    --ring: oklch(0.705 0.015 286.067);
    --radius: 0.625rem;
}

.dark {
    --primary: var(--color-amber-700);
    --primary-foreground: var(--color-neutral-50);
    --secondary: var(--color-zinc-700);
    --secondary-foreground: var(--color-neutral-50);
    --tertiary: var(--color-blue-300);
    --tertiary-foreground: var(--color-neutral-950);
    --success: var(--color-green-300);
    --success-foreground: var(--color-neutral-950);
    --warning: var(--color-yellow-300);
    --warning-foreground: var(--color-yellow-950);
    --warning-alt: var(--color-yellow-300);
    --danger: var(--color-red-300);
    --danger-foreground: var(--color-neutral-950);

    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --searchbox: #141416;
    --ring: oklch(0.552 0.016 285.938);
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-tertiary: var(--tertiary);
    --color-tertiary-foreground: var(--tertiary-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-alt: var(--warning-alt);
    --color-warning-foreground: var(--warning-foreground);
    --color-danger: var(--danger);
    --color-danger-foreground: var(--danger-foreground);

    --font-sans: 'Inter Variable', sans-serif;
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-searchbox: var(--searchbox);
    --color-border: var(--border);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-toc: var(--tertiary);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        @apply font-sans;
        overflow: hidden;
    }

    html, body, body > div:first-child {
        height: 100%;
    }

    h1 {
        font-size: var(--text-3xl);
    }

    h2 {
        font-size: var(--text-2xl);
    }

    h3 {
        font-size: var(--text-xl);
    }

    h4 {
        font-size: var(--text-lg);
    }
}